<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erato.userserviceweb.dao.AdminUserTokenMapper">

    <resultMap type="com.erato.userserviceweb.entity.AdminUserToken" id="AdminUserTokenMap">
        <result property="adminUserId" column="admin_user_id" jdbcType="INTEGER"/>
        <result property="token" column="token" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AdminUserTokenMap">
        select
          admin_user_id, token, update_time, expire_time
        from tb_newbee_mall_admin_user_token
        where admin_user_id = #{adminUserId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AdminUserTokenMap">
        select
          admin_user_id, token, update_time, expire_time
        from tb_newbee_mall_admin_user_token
        <where>
            <if test="adminUserId != null">
                and admin_user_id = #{adminUserId}
            </if>
            <if test="token != null and token != ''">
                and token = #{token}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="expireTime != null">
                and expire_time = #{expireTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="selectByToken" resultMap="AdminUserTokenMap">
        select * from tbl_newbee_mall_admin_user_token
        <where>
            token = #{token}
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from tb_newbee_mall_admin_user_token
        <where>
            <if test="adminUserId != null">
                and admin_user_id = #{adminUserId}
            </if>
            <if test="token != null and token != ''">
                and token = #{token}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="expireTime != null">
                and expire_time = #{expireTime}
            </if>
        </where>
    </select>

<!--    &lt;!&ndash;新增所有列&ndash;&gt;-->
<!--    <insert id="insert" keyProperty="adminUserId" useGeneratedKeys="true">-->
<!--        insert into tb_newbee_mall_admin_user_token(token, update_time, expire_time)-->
<!--        values (#{token}, #{updateTime}, #{expireTime})-->
<!--    </insert>-->

    <insert id="insert" parameterType="com.erato.userserviceweb.entity.AdminUserToken">
        insert into tb_newbee_mall_admin_user_token (admin_user_id, token, update_time,
                                                     expire_time)
        values (#{adminUserId,jdbcType=BIGINT}, #{token,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
                #{expireTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertBatch" keyProperty="adminUserId" useGeneratedKeys="true">
        insert into tb_newbee_mall_admin_user_token(token, update_time, expire_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.token}, #{entity.updateTime}, #{entity.expireTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="adminUserId" useGeneratedKeys="true">
        insert into tb_newbee_mall_admin_user_token(token, update_time, expire_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.token}, #{entity.updateTime}, #{entity.expireTime})
        </foreach>
        on duplicate key update
        token = values(token),
        update_time = values(update_time),
        expire_time = values(expire_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update tb_newbee_mall_admin_user_token
        <set>
            <if test="token != null and token != ''">
                token = #{token},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime},
            </if>
        </set>
        where admin_user_id = #{adminUserId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from tb_newbee_mall_admin_user_token where admin_user_id = #{adminUserId}
    </delete>

</mapper>

